table {
    border: 1px solid;
    border-radius: 0.7em;
    border-spacing: 0;
    cursor: pointer;
    min-width: 240pt;
}

@media only screen and (max-width: 600px) {
    table {
        width: 100%;
        min-width: revert;
    }
}

tr:hover {
    background-color: #9999ff55;
}

tr:active {
    background-color: #9999ff22;
}

td {
    border-collapse: collapse;
    padding: 0.3em 0.5em 0.3em 0.5em;
    margin: 0;
}

td:last-child {
    text-align: right;
}

.before {
    opacity: 50%;
    text-decoration: line-through;
}

.selected {
    background-color: #99aaff44;
}

.small {
    font-size: small;
}
