.session {
    border: 1px solid;
    border-radius: 0.7em;
    padding: 0.5em 0;
    display: inline-block;
    text-align: center;
    min-width: 240pt;
}

.session div {
    padding: 0.25em 0.5em;
}

@media only screen and (max-width: 600px) {
    .session {
        width: 100%;
        min-width: revert;
    }
}

.session-title {
    font-size: 24pt;
    font-weight: 500;
    margin-top: -0.25em;
    margin-bottom: -0.1em;
    text-align: center;
}